@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.slick-arrow::before {
    color: #545454 !important;
    font-size: 35px !important;
}

.slick-prev {
    left: -40px !important;
}

@media only screen and (max-width: 1024px) {
    .slick-arrow::before {
        font-size: 30px !important;
    }
}